@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.conteiner{
    padding-top: 30px;
    width: 300px;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 100px 500px;
    gap: 5px;
    
    
}




.red{
    background-color: red;
    text-align: center;
    color: aqua;
    font-size: 2em;
}

.blue{
    background-color: blue;
}

.green{
    height: 100vh;
    background-color: green;
    color: antiquewhite;
    text-align: justify;
    text-indent: 5px;
    padding: 5px;
}

.yellow{
    height: 100vh;
    background-color: yellow;
}