@charset "UTF-8";

@media screen and (max-width: 580px) {
   

   nav a {
    display: inline-block;
    width: 50vw;
    
   }
   #icon {
    display: block;
    position: fixed;
    background-color:rgba(21, 18, 18, 0.092);
    top: 40px;
    left: 0px;
   } 
   
   header {
    display: flex;
    flex-flow: column nowrap;
    
   }

   nav #menu {
    justify-content: flex-start;
    width: 50vw;
    display: none;
    
   }

   h1 {
    flex-basis: 50px;
   }


}
